.line-divider {
  display: block;
  border-bottom: 1px solid black;
}
.create-button, .view-button {
  width: 150px;
  height: 150px;
  margin-top: 300px;
  margin-left:450px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: inline-flex; 
  
  line-height: 50px; 
  align-items: center;
  justify-content: center;
  text-align: center; 
  transition: box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.create-button:hover, .view-button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); 
}

.view-button .icon {
  font-size: 24px;
   
}

.navbar {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  font-family:fantasy;
  padding-right: 15px;
  padding-left: 15px; 
}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navlogo a{
  font-size: 35px; 
  font-weight: 600;
  color: black;
}
li{
  list-style: none;
  display: inline-block;
}
li a{
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}
nav a:hover {
   
  color: rgb(255, 255, 255); 
}
.sign-up-link{
  color: rgb(9, 23, 26);
}
.sign-up-link:hover{
  color: rgb(4, 202, 241);
}
.login-container{
  width: 360px;
  height: 370px;
  margin: 200px auto 0;
  border-radius: 3px;
  border-style: solid;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}
.signup-container{
  width: 600px;
  height: 560px;
  margin: 100px auto 0;
  border-radius: 3px;
  border-style: solid;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  display: grid;
  align-items: center;
  justify-content: center;
}
h1{
  text-align: center;
  padding-top: 15px;
  font-family:fantasy;
}
h2{
  text-align: center;
  padding-top: 15px;
  font-family:fantasy;
  color: linear-gradient(to right, #ff7e5f, #feb47b);
}
.login-page-body{
  background-color: rgb(245, 252, 252);
}
form{
  width: 300px;
  margin-left: 20px;
}
form label{
  display: flex;
  margin-top: 20px;
}
form input{
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
  background:transparent
}
input[type="firstname"]{
  margin-bottom:12px;
}
input[type="lastname"]{
  margin-bottom:12px;
}
input[type="email"]{
  margin-bottom:12px;
}
input[type="username"]{
  margin-bottom:12px;
}
.password-signup{
  margin-bottom: 12px;
}

input[type="button"]{
  width: 315px;
  height: 35px;
  margin-top: 20px;
  border-style: solid;
  border-radius: 5px;
  background: transparent;
  font-family: fantasy;
}
input[type="button"]:hover{
  cursor:pointer;
  color: white;
  background-color: black;
}
.para-prompt{
text-align: center;
}
.para-prompt2{
  text-align: center;
  }
  body{
    background:linear-gradient(to right, #ff7e5f, #feb47b);
  }